body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    text-align: right;
    direction: rtl;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #0056b3;
}

h3 {
    color: #007bff;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

br {
    line-height: 2em;
}
